# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Librerías pesadas de Node (Frontend)
node_modules/
dist/
build/

# Librerías y caché de Python (Backend)
__pycache__/
*.pyc
venv/
.pytest_cache/

# Archivos de Seguridad (¡Nunca subir claves!)
.env
.env.local

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db